.container h1 {
  font-family: "DM Serif Display";
  font-size: 2.25em;
  padding-left: 75px;
  padding-top: 4%;
}
.container .blogs {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-left: -40px !important;
}

.post {
  padding-bottom: 4%;
}
.post a {
  text-decoration: none;
  color: #222;
}
.post .topImg {
  height: 172px;
  width: 340px;
  object-fit: cover;
}
.post .blog_title {
  font-family: "Avenir";
  font-size: 1em;
}
.post .moreBtn {
  font-family: "Avenir";
  border: 2px solid #222;
  background-color: #fff;
  font-size: 0.75em;
  padding: 10px;
}
.post .moreBtn:hover {
  background-color: #ddc8d1;
  transition-timing-function: ease-out;
  transition: 0.6s;
}

@media screen and (max-width: 1200px) {
  .blogs {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding-left: -40px !important;
  }

  h1 {
    text-align: center;
    padding-left: 0px !important;
  }
}
