@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.pt-1 {
  padding-top: 1rem !important;
}
.pb-1 {
  padding-bottom: 1rem !important;
}
.pl-1 {
  padding-left: 1rem !important;
}
.pr-1 {
  padding-right: 1rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.ml-1 {
  margin-left: 1rem !important;
}
.mr-1 {
  margin-right: 1rem !important;
}
.pt-2 {
  padding-top: 2rem !important;
}
.pb-2 {
  padding-bottom: 2rem !important;
}
.pl-2 {
  padding-left: 2rem !important;
}
.pr-2 {
  padding-right: 2rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.ml-2 {
  margin-left: 2rem !important;
}
.mr-2 {
  margin-right: 2rem !important;
}
.pt-3 {
  padding-top: 3rem !important;
}
.pb-3 {
  padding-bottom: 3rem !important;
}
.pl-3 {
  padding-left: 3rem !important;
}
.pr-3 {
  padding-right: 3rem !important;
}
.mt-3 {
  margin-top: 3rem !important;
}
.mb-3 {
  margin-bottom: 3rem !important;
}
.ml-3 {
  margin-left: 3rem !important;
}
.mr-3 {
  margin-right: 3rem !important;
}
.pt-4 {
  padding-top: 4rem !important;
}
.pb-4 {
  padding-bottom: 4rem !important;
}
.pl-4 {
  padding-left: 4rem !important;
}
.pr-4 {
  padding-right: 4rem !important;
}
.mt-4 {
  margin-top: 4rem !important;
}
.mb-4 {
  margin-bottom: 4rem !important;
}
.ml-4 {
  margin-left: 4rem !important;
}
.mr-4 {
  margin-right: 4rem !important;
}
.pt-5 {
  padding-top: 5rem !important;
}
.pb-5 {
  padding-bottom: 5rem !important;
}
.pl-5 {
  padding-left: 5rem !important;
}
.pr-5 {
  padding-right: 5rem !important;
}
.mt-5 {
  margin-top: 5rem !important;
}
.mb-5 {
  margin-bottom: 5rem !important;
}
.ml-5 {
  margin-left: 5rem !important;
}
.mr-5 {
  margin-right: 5rem !important;
}
.pt-6 {
  padding-top: 6rem !important;
}
.pb-6 {
  padding-bottom: 6rem !important;
}
.pl-6 {
  padding-left: 6rem !important;
}
.pr-6 {
  padding-right: 6rem !important;
}
.mt-6 {
  margin-top: 6rem !important;
}
.mb-6 {
  margin-bottom: 6rem !important;
}
.ml-6 {
  margin-left: 6rem !important;
}
.mr-6 {
  margin-right: 6rem !important;
}
.pt-7 {
  padding-top: 7rem !important;
}
.pb-7 {
  padding-bottom: 7rem !important;
}
.pl-7 {
  padding-left: 7rem !important;
}
.pr-7 {
  padding-right: 7rem !important;
}
.mt-7 {
  margin-top: 7rem !important;
}
.mb-7 {
  margin-bottom: 7rem !important;
}
.ml-7 {
  margin-left: 7rem !important;
}
.mr-7 {
  margin-right: 7rem !important;
}
.pt-8 {
  padding-top: 8rem !important;
}
.pb-8 {
  padding-bottom: 8rem !important;
}
.pl-8 {
  padding-left: 8rem !important;
}
.pr-8 {
  padding-right: 8rem !important;
}
.mt-8 {
  margin-top: 8rem !important;
}
.mb-8 {
  margin-bottom: 8rem !important;
}
.ml-8 {
  margin-left: 8rem !important;
}
.mr-8 {
  margin-right: 8rem !important;
}
.pt-9 {
  padding-top: 9rem !important;
}
.pb-9 {
  padding-bottom: 9rem !important;
}
.pl-9 {
  padding-left: 9rem !important;
}
.pr-9 {
  padding-right: 9rem !important;
}
.mt-9 {
  margin-top: 9rem !important;
}
.mb-9 {
  margin-bottom: 9rem !important;
}
.ml-9 {
  margin-left: 9rem !important;
}
.mr-9 {
  margin-right: 9rem !important;
}
.pt-10 {
  padding-top: 10rem !important;
}
.pb-10 {
  padding-bottom: 10rem !important;
}
.pl-10 {
  padding-left: 10rem !important;
}
.pr-10 {
  padding-right: 10rem !important;
}
.mt-10 {
  margin-top: 10rem !important;
}
.mb-10 {
  margin-bottom: 10rem !important;
}
.ml-10 {
  margin-left: 10rem !important;
}
.mr-10 {
  margin-right: 10rem !important;
}
.pad-1 {
  padding: 1rem !important;
}
.pad-2 {
  padding: 2rem !important;
}
.pad-3 {
  padding: 3rem !important;
}
.pad-4 {
  padding: 4rem !important;
}
.pad-5 {
  padding: 5rem !important;
}
.pad-6 {
  padding: 6rem !important;
}
.pad-7 {
  padding: 7rem !important;
}
.pad-8 {
  padding: 8rem !important;
}
.pad-9 {
  padding: 9rem !important;
}
.pad-10 {
  padding: 10rem !important;
}
.h-10 {
  height: 10% !important;
}
.h-20 {
  height: 20% !important;
}
.h-30 {
  height: 30% !important;
}
.h-40 {
  height: 40% !important;
}
.h-50 {
  height: 50% !important;
}
.h-60 {
  height: 60% !important;
}
.h-70 {
  height: 70% !important;
}
.h-80 {
  height: 80% !important;
}
.h-90 {
  height: 90% !important;
}
.h-100 {
  height: 100% !important;
}
.w-10 {
  width: 10% !important;
}
.w-20 {
  width: 20% !important;
}
.w-30 {
  width: 30% !important;
}
.w-40 {
  width: 40% !important;
}
.w-50 {
  width: 50% !important;
}
.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}
.w-100 {
  width: 100% !important;
}
.r-1 {
  border-radius: 1px !important;
}
.r-2 {
  border-radius: 2px !important;
}
.r-3 {
  border-radius: 3px !important;
}
.r-4 {
  border-radius: 4px !important;
}
.r-5 {
  border-radius: 5px !important;
}
.r-6 {
  border-radius: 6px !important;
}
.r-7 {
  border-radius: 7px !important;
}
.r-8 {
  border-radius: 8px !important;
}
.r-9 {
  border-radius: 9px !important;
}
.r-10 {
  border-radius: 10px !important;
}
.reset {
  margin: 0 !important;
  padding: 0 !important;
}
.hidden {
  display: none;
}
.visible {
  display: initial;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.rounded {
  border-radius: 50%;
}
header {
  margin: 0 auto;
  max-width: 1335px;
  position: relative;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}
header > a:first-child {
  text-indent: -99999px;
  display: block;
  width: 40px;
  height: 40px;
  background-size: 25px 25px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNmZmZmZmYnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nZmVhdGhlciBmZWF0aGVyLW1haWwnPjxwYXRoIGQ9J000IDRoMTZjMS4xIDAgMiAuOSAyIDJ2MTJjMCAxLjEtLjkgMi0yIDJINGMtMS4xIDAtMi0uOS0yLTJWNmMwLTEuMS45LTIgMi0yeic+PC9wYXRoPjxwb2x5bGluZSBwb2ludHM9JzIyLDYgMTIsMTMgMiw2Jz48L3BvbHlsaW5lPjwvc3ZnPg==);
  background-position: center;
  background-repeat: no-repeat;
}
header > a:last-child {
  font-size: 3rem;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  transition: 0.3s opacity, 0.3s background-image;
  opacity: 0.6;
}
header > a:last-child:hover {
  opacity: 1;
}
footer {
  margin: 0 auto;
  max-width: 1335px;
  position: relative;
  width: 100%;
  padding: 0 2rem;
  margin-top: auto;
  display: flex;
  font-size: 1.4rem;
}
footer a {
  display: inline-block;
  margin-right: 2rem;
}
footer a:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 420px), (max-width: 420px) {
  footer {
    flex-direction: column;
    padding: 5rem 2rem 3rem;
    text-align: center;
  }
  footer div {
    padding: 3rem 0;
  }
}
@media only screen and (min-width: 640px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 10rem 2rem 5rem;
  }
  footer div {
    padding: 0;
  }
}

.hero h1 {
  padding: 0;
  margin: 0;
  text-transform: inherit;
  line-height: 140%;
  margin: 2rem 0;
}
.hero p {
  padding: 0;
  margin: 0;
  line-height: 150%;
}
.hero strong {
  font-size: 3.5rem;
}
.hero a {
  font-weight: 700;
  text-decoration: none;
}
@media only screen and (min-width: 420px), (max-width: 420px) {
  .hero {
    margin-top: 12%;
  }
  .hero h1 {
    max-width: 100%;
    font-size: 4rem;
  }
  .hero p {
    font-size: 2rem;
    max-width: 100%;
  }
}
@media only screen and (min-width: 640px) {
  .hero {
    margin-top: 12%;
  }
  .hero h1 {
    max-width: 100%;
    font-size: 4.5rem;
  }
  .hero p {
    font-size: 2rem;
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    margin-top: 12%;
  }
  .hero h1 {
    max-width: 100%;
    font-size: 5rem;
  }
  .hero p {
    font-size: 2rem;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .hero {
    margin-top: 12%;
  }
  .hero h1 {
    max-width: 70%;
    font-size: 5.5rem;
  }
  .hero p {
    font-size: 2.5rem;
    max-width: 80%;
  }
}
.contact-form {
  margin-top: 12%;
}
.contact-form h3 {
  padding: 0;
  margin: 0;
  margin: 0 0 4rem;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.contact-form h6 {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 3rem 0 1.5rem;
}
.contact-form .social a {
  margin: 0 0 0 4rem;
  color: rgba(255, 255, 255, 0.6);
}
.contact-form .social a:first-child {
  margin-left: 0;
}
.social a.github {
  text-indent: -99999px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  transition: 0.3s opacity, 0.3s background-image;
  opacity: 0.6;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNmZmZmZmYnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nZmVhdGhlciBmZWF0aGVyLWdpdGh1Yic+PHBhdGggZD0nTTkgMTljLTUgMS41LTUtMi41LTctM20xNCA2di0zLjg3YTMuMzcgMy4zNyAwIDAgMC0uOTQtMi42MWMzLjE0LS4zNSA2LjQ0LTEuNTQgNi40NC03QTUuNDQgNS40NCAwIDAgMCAyMCA0Ljc3IDUuMDcgNS4wNyAwIDAgMCAxOS45MSAxUzE4LjczLjY1IDE2IDIuNDhhMTMuMzggMTMuMzggMCAwIDAtNyAwQzYuMjcuNjUgNS4wOSAxIDUuMDkgMUE1LjA3IDUuMDcgMCAwIDAgNSA0Ljc3YTUuNDQgNS40NCAwIDAgMC0xLjUgMy43OGMwIDUuNDIgMy4zIDYuNjEgNi40NCA3QTMuMzcgMy4zNyAwIDAgMCA5IDE4LjEzVjIyJz48L3BhdGg+PC9zdmc+);
}
.social a.github:hover {
  opacity: 1;
}
.social a.github:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNCQjg2RkMnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nZmVhdGhlciBmZWF0aGVyLWdpdGh1Yic+PHBhdGggZD0nTTkgMTljLTUgMS41LTUtMi41LTctM20xNCA2di0zLjg3YTMuMzcgMy4zNyAwIDAgMC0uOTQtMi42MWMzLjE0LS4zNSA2LjQ0LTEuNTQgNi40NC03QTUuNDQgNS40NCAwIDAgMCAyMCA0Ljc3IDUuMDcgNS4wNyAwIDAgMCAxOS45MSAxUzE4LjczLjY1IDE2IDIuNDhhMTMuMzggMTMuMzggMCAwIDAtNyAwQzYuMjcuNjUgNS4wOSAxIDUuMDkgMUE1LjA3IDUuMDcgMCAwIDAgNSA0Ljc3YTUuNDQgNS40NCAwIDAgMC0xLjUgMy43OGMwIDUuNDIgMy4zIDYuNjEgNi40NCA3QTMuMzcgMy4zNyAwIDAgMCA5IDE4LjEzVjIyJz48L3BhdGg+PC9zdmc+);
}
.social a.twitter {
  text-indent: -99999px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  transition: 0.3s opacity, 0.3s background-image;
  opacity: 0.6;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNmZmZmZmYnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nZmVhdGhlciBmZWF0aGVyLXR3aXR0ZXInPjxwYXRoIGQ9J00yMyAzYTEwLjkgMTAuOSAwIDAgMS0zLjE0IDEuNTMgNC40OCA0LjQ4IDAgMCAwLTcuODYgM3YxQTEwLjY2IDEwLjY2IDAgMCAxIDMgNHMtNCA5IDUgMTNhMTEuNjQgMTEuNjQgMCAwIDEtNyAyYzkgNSAyMCAwIDIwLTExLjVhNC41IDQuNSAwIDAgMC0uMDgtLjgzQTcuNzIgNy43MiAwIDAgMCAyMyAzeic+PC9wYXRoPjwvc3ZnPg==);
}
.social a.twitter:hover {
  opacity: 1;
}
.social a.twitter:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNCQjg2RkMnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nZmVhdGhlciBmZWF0aGVyLXR3aXR0ZXInPjxwYXRoIGQ9J00yMyAzYTEwLjkgMTAuOSAwIDAgMS0zLjE0IDEuNTMgNC40OCA0LjQ4IDAgMCAwLTcuODYgM3YxQTEwLjY2IDEwLjY2IDAgMCAxIDMgNHMtNCA5IDUgMTNhMTEuNjQgMTEuNjQgMCAwIDEtNyAyYzkgNSAyMCAwIDIwLTExLjVhNC41IDQuNSAwIDAgMC0uMDgtLjgzQTcuNzIgNy43MiAwIDAgMCAyMyAzeic+PC9wYXRoPjwvc3ZnPg==);
}
.social a.linkedin {
  text-indent: -99999px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  transition: 0.3s opacity, 0.3s background-image;
  opacity: 0.6;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNmZmZmZmYnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nZmVhdGhlciBmZWF0aGVyLWxpbmtlZGluJz48cGF0aCBkPSdNMTYgOGE2IDYgMCAwIDEgNiA2djdoLTR2LTdhMiAyIDAgMCAwLTItMiAyIDIgMCAwIDAtMiAydjdoLTR2LTdhNiA2IDAgMCAxIDYtNnonPjwvcGF0aD48cmVjdCB4PScyJyB5PSc5JyB3aWR0aD0nNCcgaGVpZ2h0PScxMic+PC9yZWN0PjxjaXJjbGUgY3g9JzQnIGN5PSc0JyByPScyJz48L2NpcmNsZT48L3N2Zz4=);
}
.social a.linkedin:hover {
  opacity: 1;
}
.social a.linkedin:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNCQjg2RkMnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nZmVhdGhlciBmZWF0aGVyLWxpbmtlZGluJz48cGF0aCBkPSdNMTYgOGE2IDYgMCAwIDEgNiA2djdoLTR2LTdhMiAyIDAgMCAwLTItMiAyIDIgMCAwIDAtMiAydjdoLTR2LTdhNiA2IDAgMCAxIDYtNnonPjwvcGF0aD48cmVjdCB4PScyJyB5PSc5JyB3aWR0aD0nNCcgaGVpZ2h0PScxMic+PC9yZWN0PjxjaXJjbGUgY3g9JzQnIGN5PSc0JyByPScyJz48L2NpcmNsZT48L3N2Zz4=);
}
.social a.email {
  text-indent: -99999px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  transition: 0.3s opacity, 0.3s background-image;
  opacity: 0.6;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNmZmZmZmYnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nZmVhdGhlciBmZWF0aGVyLW1haWwnPjxwYXRoIGQ9J000IDRoMTZjMS4xIDAgMiAuOSAyIDJ2MTJjMCAxLjEtLjkgMi0yIDJINGMtMS4xIDAtMi0uOS0yLTJWNmMwLTEuMS45LTIgMi0yeic+PC9wYXRoPjxwb2x5bGluZSBwb2ludHM9JzIyLDYgMTIsMTMgMiw2Jz48L3BvbHlsaW5lPjwvc3ZnPg==);
}
.social a.email:hover {
  opacity: 1;
}
.social a.email:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNCQjg2RkMnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nZmVhdGhlciBmZWF0aGVyLW1haWwnPjxwYXRoIGQ9J000IDRoMTZjMS4xIDAgMiAuOSAyIDJ2MTJjMCAxLjEtLjkgMi0yIDJINGMtMS4xIDAtMi0uOS0yLTJWNmMwLTEuMS45LTIgMi0yeic+PC9wYXRoPjxwb2x5bGluZSBwb2ludHM9JzIyLDYgMTIsMTMgMiw2Jz48L3BvbHlsaW5lPjwvc3ZnPg==);
}
.social a.youtube {
  text-indent: -99999px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  transition: 0.3s opacity, 0.3s background-image;
  opacity: 0.6;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNmZmZmZmYnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nZmVhdGhlciBmZWF0aGVyLXlvdXR1YmUnPjxwYXRoIGQ9J00yMi41NCA2LjQyYTIuNzggMi43OCAwIDAgMC0xLjk0LTJDMTguODggNCAxMiA0IDEyIDRzLTYuODggMC04LjYuNDZhMi43OCAyLjc4IDAgMCAwLTEuOTQgMkEyOSAyOSAwIDAgMCAxIDExLjc1YTI5IDI5IDAgMCAwIC40NiA1LjMzQTIuNzggMi43OCAwIDAgMCAzLjQgMTljMS43Mi40NiA4LjYuNDYgOC42LjQ2czYuODggMCA4LjYtLjQ2YTIuNzggMi43OCAwIDAgMCAxLjk0LTIgMjkgMjkgMCAwIDAgLjQ2LTUuMjUgMjkgMjkgMCAwIDAtLjQ2LTUuMzN6Jz48L3BhdGg+PHBvbHlnb24gcG9pbnRzPSc5Ljc1IDE1LjAyIDE1LjUgMTEuNzUgOS43NSA4LjQ4IDkuNzUgMTUuMDInPjwvcG9seWdvbj48L3N2Zz4=);
}
.social a.youtube:hover {
  opacity: 1;
}
.social a.youtube:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNCQjg2RkMnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nZmVhdGhlciBmZWF0aGVyLXlvdXR1YmUnPjxwYXRoIGQ9J00yMi41NCA2LjQyYTIuNzggMi43OCAwIDAgMC0xLjk0LTJDMTguODggNCAxMiA0IDEyIDRzLTYuODggMC04LjYuNDZhMi43OCAyLjc4IDAgMCAwLTEuOTQgMkEyOSAyOSAwIDAgMCAxIDExLjc1YTI5IDI5IDAgMCAwIC40NiA1LjMzQTIuNzggMi43OCAwIDAgMCAzLjQgMTljMS43Mi40NiA4LjYuNDYgOC42LjQ2czYuODggMCA4LjYtLjQ2YTIuNzggMi43OCAwIDAgMCAxLjk0LTIgMjkgMjkgMCAwIDAgLjQ2LTUuMjUgMjkgMjkgMCAwIDAtLjQ2LTUuMzN6Jz48L3BhdGg+PHBvbHlnb24gcG9pbnRzPSc5Ljc1IDE1LjAyIDE1LjUgMTEuNzUgOS43NSA4LjQ4IDkuNzUgMTUuMDInPjwvcG9seWdvbj48L3N2Zz4=);
}
@media only screen and (min-width: 420px), (max-width: 420px) {
  .contact-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .contact-form form {
    display: block;
    padding: 5rem 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-form {
    flex-direction: row;
  }
  .contact-form form {
    display: block;
    padding-left: 10rem;
  }
}
.open-source {
  margin-top: 5%;
}
.open-source h2 {
  padding: 0;
  margin: 0;
  margin: 0 0 4rem;
  font-size: 2.4rem;
}
.open-source .grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
}
.open-source .grid div {
  text-align: left;
}
.open-source .project h3 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  margin: 0 0 1rem;
  font-size: 1.8rem;
}
.open-source .project {
  background-color: rgba(31, 30, 30, 0.842);
}
.open-source .project p {
  padding: 0;
  margin: 0;
  line-height: 150%;
  margin: 0.5rem 0 1.5rem;
  font-size: 1.6rem;
}
.open-source .project a.ico-visit {
  font-weight: 700;
  font-size: 1.4rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNmZmZmZmYnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nZmVhdGhlciBmZWF0aGVyLWFycm93LXJpZ2h0Jz48bGluZSB4MT0nNScgeTE9JzEyJyB4Mj0nMTknIHkyPScxMic+PC9saW5lPjxwb2x5bGluZSBwb2ludHM9JzEyIDUgMTkgMTIgMTIgMTknPjwvcG9seWxpbmU+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 20px;
  padding-right: 35px;
  display: inline-block;
  transition: 0.3s background-image, 0.3s color, 0.2s background-position;
}
.open-source .project a.ico-visit:hover,
.open-source .project a.ico-visit:focus {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNCQjg2RkMnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nZmVhdGhlciBmZWF0aGVyLWFycm93LXJpZ2h0Jz48bGluZSB4MT0nNScgeTE9JzEyJyB4Mj0nMTknIHkyPScxMic+PC9saW5lPjxwb2x5bGluZSBwb2ludHM9JzEyIDUgMTkgMTIgMTIgMTknPjwvcG9seWxpbmU+PC9zdmc+);
  background-position: 95% center;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}
html,
body {
  font-family: "Roboto Mono", monospace;

  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  overflow-y: scroll;
}
body {
  padding: 0;
  margin: 0;
  font-size: 1.6em;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.8rem;
}
body.darkmode {
  background-color: #111;
  color: rgba(255, 255, 255, 0.6);
}
.content {
  height: 100%;
  margin-top: auto;
}
h1 {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
  text-transform: uppercase;
}
h3 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
}
h4 {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  text-transform: uppercase;
}
h5 {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
}
h6 {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
}
p {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 150%;
}
strong {
  font-weight: 700;
}
ul {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  padding: 0 0 0 2rem;
}
a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  transition: 0.3s color;
}
a:hover {
  color: #bb86fc;
}
.single {
  margin: 0 auto;
  max-width: 1335px;
  position: relative;
  width: 100%;
  padding: 0 2rem;
}
.list {
  margin: 0 auto;
  max-width: 1335px;
  position: relative;
  width: 100%;
  padding: 0 2rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* button */
::-webkit-scrollbar-button {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
  background: #000;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: #999;
}

/* Resizer */
::-webkit-resizer {
  background: #111;
}

::-moz-selection {
  /* Code for Firefox */
  color: cyan;
  background: transparent;
}

::selection {
  color: cyan;
  background: transparent;
}
